@tailwind base;
@tailwind components;
@tailwind utilities;

#pupilRight{
  animation: moveRight 4s infinite;
}

#pupilLeft{
  animation: moveLeft 4s infinite;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(0);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(0);
  }
}

.hiddenHand {
  transform: translateY(300px);
  
}

.raiseRock {
  transform: translateY(250px);
  animation: raise 0.5s linear;
  animation-fill-mode: forwards;
}

.raisePaper {
  transform: translateY(250px);
  animation: raise 0.5s linear;
  animation-fill-mode: forwards;
}

.raiseScissors {
  transform: translateY(250px);
  animation: raise 0.5s linear;
  animation-fill-mode: forwards;
}

@keyframes raise {
  50% {transform: translateY(100px);}
  100% {transform: translateY(100px);}
}

.angryBrowRight {
  animation: angryBrowRight 2s linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes angryBrowRight {
  0% {
    transform: rotate(0deg) translateY(0px);
  }
  10% {
    transform: rotate(-20deg) translateY(5px);
  }
  90% {
    transform: rotate(0deg) translateY(0px);
  }
}

.angryBrowLeft {
  animation: angryBrowLeft 2s linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes angryBrowLeft {
  0% {
    transform: rotate(0deg) translateY(0px);
  }
  10% {
    transform: rotate(20deg) translateY(5px);
  }
  90% {
    transform: rotate(0deg) translateY(0px);
  }
}

.down {
  animation: down 1s linear;
}

@keyframes down {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
  80% {
    transform: translateY(0);
  }
}

.up {
  animation: up 1s linear;
}

@keyframes up {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-5px);
  }
  30% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(0);
  }
}

#tongue {
  scale: 0;
}

.happyTongue {
  animation: happyTongue 1s linear;
  transform-origin: top;
  transform-box: fill-box;
  
}

@keyframes happyTongue {
  0% {
    scale: 0.6;
  }

  30% {
    scale: 1;
    transform: rotate(10deg);
  }

  40% {
    scale: 1;
    transform: rotate(-10deg);
  }

  50% {
    scale: 1;
    transform: rotate(10deg);
  }

  60% {
    scale: 1;
    transform: rotate(-10deg);
  }

  80% {
    scale: 0.6;
  }

  100% {
    scale:0;
  }
}

.redFace {
  filter: invert(22%) sepia(34%) saturate(6282%) hue-rotate(347deg) brightness(113%) contrast(110%);
}

.secondStageLeftBrow {
  animation: secondStageLeftBrow 1s linear ;
  animation-fill-mode: forwards;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes secondStageLeftBrow {
  from {transform: rotate(0deg) translateY(0px);}
  to {transform: rotate(20deg) translateY(5px);}
}

.secondStageRightBrow {
  animation: secondStageRightBrow 1s linear ;
  animation-fill-mode: forwards;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes secondStageRightBrow {
  from {transform: rotate(0deg) translateY(0px);}
  to {transform: rotate(-20deg) translateY(5px);}
}

.raiseMiddleFinger {
  transform: translateY(250px);
  animation: raise 5s linear;
  animation-fill-mode: forwards;
}